li i {
    margin: 5px;
    cursor: pointer;
}

li i:hover {
    color: darkorange;
}
li i:visited {
    color: darkorange;
}

ul{
    width: 100%;
    text-align: center;
}

.pagination-icon{
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.active{
    height: 34px !important;
    width: 51px !important;
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
    margin: 6px;
}

.action-icon{
    padding-right: 10px;
    padding-left: 7px;
    display: flex;
}